p {
  font-family: Lato;
}

.d-inline-block {
  width: 550px;
}


.w-rem-10 {
  width: 14rem !important;
}

.detail-label {
  font-size: 1rem;
  font-weight: bold;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
}