.content {
  padding: 10px;
  color: #787878;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
